* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  color: white;
  background: orange;
}

.navbar {
  display: grid;
  padding: 0.7rem 2.5rem 1rem 2.5rem;
  background: rgb(230, 230, 230);
  top: 0;
  left: 0;
  right: 0;
  position: sticky;
  width: 100%;
  z-index: 9;
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 0.7rem;
}

.brand-logo {
  width: 7rem;
}

.search-user-area {
  display: flex;
  justify-content: space-between;
}

.search-area {
  display: flex;
}

.search-area input {
  width: 30rem;
  height: 2.5rem;
  border: 1px solid rgb(148, 148, 148);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background: none;
  outline: none;
  padding: 1rem;
}

.search-area input::placeholder {
  text-transform: capitalize;
  font-size: 1rem;
}

.search-area button {
  border: none;
  height: 2.5rem;
  width: 5rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgb(24, 24, 24);
  font-size: 1.2rem;
  text-transform: capitalize;
  color: white;
  transition: 0.5s;
}

.search-area button:hover {
  background: orange;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  justify-content: space-between;
}

.icons #user {
  padding: 5px;
  color: rgb(24, 24, 24);
  font-size: 2rem;
  transition: 0.5s;
}

.icons a #cart {
  padding: 5px;
  color: rgb(24, 24, 24);
  font-size: 2rem;
  transition: 0.5s;
}

.icons #user:hover {
  color: orange;
}

.icons a #cart:hover {
  color: orange;
}

.nav-area ul {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  list-style: none;
  border-top: 1px solid rgb(139, 139, 139);
  padding: 1rem 0 0 0;
}

.nav-link {
  margin: 1rem;
  text-decoration: none;
  color: rgb(24, 24, 24);
  transition: 0.5s;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: orange;
}

.hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  background: radial-gradient(white, orange);
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.col-2 p {
  font-size: 25px;
}

.btn {
  display: inline-block;
  background: #ff0000;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
  text-decoration: none;
}

.btn:hover {
  background: #2f00ff;
}

.header .row {
  margin-top: 70px;
}

.categories {
  margin: 70px 0;
}

.col-3 {
  flex: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  text-align: center;
}

.logo {
  text-align: center;
}

/* Featured Categories */

.featured-products {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 3rem auto;
}

.featured-products h2 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 3rem;
}

.featured-products i {
  position: absolute;
  top: 60%;
  font-size: 3rem;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
  left: 0.5%;
  z-index: 1;
}

.featured-products i:hover {
  opacity: 1;
}

.featured-products i:nth-of-type(2) {
  left: 98%;
  text-align: right;
}

.carousel-container {
  width: 98%;
  margin: 10px auto;
  display: flex;
  justify-content: left;
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}

.carousel-container::-webkit-scrollbar {
  visibility: hidden;
}

.img-card {
  display: block;
  min-width: 400px;
  height: 350px;
  position: relative;
  left: 0;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px 10px;
  box-shadow: -3px 3px 6px #666666, 3px -3px 6px #ffffff;
  background-color: rgb(236, 236, 236);
}

.img-box {
  height: 275px;
  position: relative;
}

.img-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.img-details-box {
  display: flex;
  justify-content: space-between;
}

.img-details-box .img-info {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.img-info a {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
}

.img-info span {
  color: rgb(80, 80, 80);
}

.img-details-box .price {
  padding: 0.5rem;
  margin-right: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
}

.overlay {
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.315);
  display: flex;
  visibility: hidden;
}

.overlay .add-to-cart-btn {
  width: 300px;
  height: 35px;
  border: none;
  border-radius: 3px;
  text-transform: capitalize;
  font-size: 1rem;
  position: relative;
  top: 40%;
  font-weight: bold;
  transition: 0.3s;
}

.overlay .add-to-cart-btn:hover {
  background: orange;
  color: white;
  cursor: pointer;
}

.img-box:hover .overlay {
  visibility: visible;
  animation: animation 0.5s;
}

@keyframes animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
